@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('./images/background.png');
  background-attachment: fixed;
}

header {
  box-sizing: border-box;
  width: 100%;
}

.solar {
  box-sizing: border-box;
  color: white;
  font-size: 100px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  width: 100%;
}

.container-title {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  height: 98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  mix-blend-mode: hard-light;
  width: 1100px;
}

.container-title:hover {
  background-color: #fdfdfd44;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 10px;
  text-align: center;
}

.container-planet {
  align-items: center;
  display: flex;
  height: 282.54px;
  justify-content: center;
  left: 115px;
  top: 413px;
  width: 100%;
}

.Mercúrio {
  height: 31px;
  transition: transform 0.2s ease-in-out;
  width: 41px;
}

.Vênus {
  height: 76px;
  transition: transform 0.2s ease-in-out;
  width: 102px;
}

.Terra {
  height: 79px;
  transition: transform 0.2s ease-in-out;
  width: 106px;
}

.Marte {
  height: 50px;
  transition: transform 0.2s ease-in-out;
  width: 66px;
}

.Júpiter {
  height: 204px;
  transition: transform 0.2s ease-in-out;
  width: 272px;
}

.Saturno {
  height: 210.9px;
  transition: transform 0.2s ease-in-out;
  width: 282.41px;
}

.Urano {
  height: 109px;
  transition: transform 0.2s ease-in-out;
  width: 144px;
}

.Netuno {
  height: 107px;
  transition: transform 0.2s ease-in-out;
  width: 144px;
}

.planet-name {
  color: white;
  text-align: center;
}

.Mercúrio:hover {
  transform: scale(1.2);
}

.Vênus:hover {
  transform: scale(1.2);
}

.Terra:hover {
  transform: scale(1.2);
}

.Marte:hover {
  transform: scale(1.2);
}

.Júpiter:hover {
  transform: scale(1.2);
}

.Saturno:hover {
  transform: scale(1.2);
}

.Urano:hover {
  transform: scale(1.2);
}

.Netuno:hover {
  transform: scale(1.2);
}

.contain-mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 300px;
}

.mission-card {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  margin: 10px;
  mix-blend-mode: hard-light;
  width: 354px;
}

.mission-card:hover {
  background-color: #fdfdfd44;
}

.mission-title {
  border-bottom: 1px white solid;
  color: white;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 10px;
}

.mission-content {
  color: white;
  margin: 10px;
}
